@import "../index.scss";

$small-y: 0.5rem;
$small-x: 1rem;
$medium-y: 0.75rem;
$medium-x: 1.5rem;
$large-y: 1rem;
$large-x: 2rem;

@mixin buttonThemedStyles(
  $text-color,
  $bg-color,
  $border-color,
  $hover-text-color,
  $hover-bg-color,
  $hover-border-color
) {
  color: $text-color;
  background-color: $bg-color;
  border-color: $border-color;

  &:hover {
    opacity: 0.7;
    color: $hover-text-color;
    background-color: $hover-bg-color;
    border-color: $hover-border-color;
  }

  &:active {
    opacity: 1;
    scale: 0.95;
  }

  &:disabled {
    color: $text-color;
    background-color: $bg-color;
    border-color: $border-color;
    cursor: not-allowed;
    opacity: 0.5;
    scale: 1;
  }
}

@mixin buttonSizePadding($y, $x, $font-size) {
  padding: $y $x;
  font-size: $font-size;
}

@mixin buttonRoundSize($size) {
  border-radius: $size;
}

.btn {
  color: #FFF;
  border-radius: 0.5rem;
  font-weight: bold;
  padding: 0.5rem 1rem;
  cursor: pointer;
  user-select: none;
  border: 1px solid;
  text-align: center;

  // Button variants
  &--primary {
    @include buttonThemedStyles(
      $coffee-light-main,
      $coffee-primary-main,
      $coffee-primary-main,
      $coffee-light-main,
      $coffee-primary-main,
      $coffee-primary-main
    );
  }

  &--primary.is-plain {
    @include buttonThemedStyles(
      $coffee-primary-main,
      $coffee-primary-plain,
      $coffee-primary-plain-border,
      $coffee-light-main,
      $coffee-primary-main,
      $coffee-primary-main
    );
  }

  &--success {
    @include buttonThemedStyles(
      $coffee-light-main,
      $coffee-success-main,
      $coffee-success-main,
      $coffee-light-main,
      $coffee-success-main,
      $coffee-success-main
    );
  }

  &--success.is-plain {
    @include buttonThemedStyles(
      $coffee-success-main,
      $coffee-success-plain,
      $coffee-success-plain-border,
      $coffee-light-main,
      $coffee-success-main,
      $coffee-success-main
    );
  }
  
  &--info {
    @include buttonThemedStyles(
      $coffee-light-main,
      $coffee-info-main,
      $coffee-info-main,
      $coffee-light-main,
      $coffee-info-main,
      $coffee-info-main
    );
  }
  
  &--info.is-plain {
    @include buttonThemedStyles(
      $coffee-info-main,
      $coffee-info-plain,
      $coffee-info-plain-border,
      $coffee-light-main,
      $coffee-info-main,
      $coffee-info-main
    );
  }
  
  &--warning {
    @include buttonThemedStyles(
      $coffee-light-main,
      $coffee-warning-main,
      $coffee-warning-main,
      $coffee-light-main,
      $coffee-warning-main,
      $coffee-warning-main
    );
  }
  
  &--warning.is-plain {
    @include buttonThemedStyles(
      $coffee-warning-main,
      $coffee-warning-plain,
      $coffee-warning-plain-border,
      $coffee-light-main,
      $coffee-warning-main,
      $coffee-warning-main
    );
  }
  
  &--danger {
    @include buttonThemedStyles(
      $coffee-light-main,
      $coffee-danger-main,
      $coffee-danger-main,
      $coffee-light-main,
      $coffee-danger-main,
      $coffee-danger-main
    );
  }
  
  &--danger.is-plain {
    @include buttonThemedStyles(
      $coffee-danger-main,
      $coffee-danger-plain,
      $coffee-danger-plain-border,
      $coffee-light-main,
      $coffee-danger-main,
      $coffee-danger-main
    );
  }
  
  &--text {
    @include buttonThemedStyles(
      $coffee-dark-main,
      $coffee-light-main,
      $coffee-dark-main,
      $coffee-primary-main,
      $coffee-primary-plain,
      $coffee-primary-plain-border
    );
    &:hover {
      opacity: 1;
    }
  }
  
  &--text.is-plain {
    @include buttonThemedStyles(
      $coffee-dark-main,
      $coffee-light-main,
      $coffee-dark-main,
      $coffee-primary-main,
      $coffee-light-main,
      $coffee-primary-plain-border
    );
    &:hover {
      opacity: 1;
    }
  }

  // Button sizes
  &--small {
    @include buttonSizePadding($small-y, $small-x, $coffee-font-small);
  }

  &--medium {
    @include buttonSizePadding($medium-y, $medium-x, $coffee-font-medium);
  }

  &--large {
    @include buttonSizePadding($large-y, $large-x, $coffee-font-large);
  }

  // Rounded corner buttons
  &--small.is-round {
    @include buttonRoundSize($small-x);
  }

  &--medium.is-round {
    @include buttonRoundSize($medium-x);
  }

  &--large.is-round {
    @include buttonRoundSize($large-x);
  }
}
