// Colors
$coffee-primary-color: #1E90FF;
$coffee-success-color: #32CD32;
$coffee-warning-color: #EED202;
$coffee-info-color: #899499;
$coffee-danger-color: #DC143C;
$coffee-text-color: #FFFFFF;
$coffee-dark-color: #000;
