// Main colors
$coffee-primary-main: #1E90FF;
$coffee-success-main: #32CD32;
$coffee-warning-main: #EED202;
$coffee-info-main: #899499;
$coffee-danger-main: #DC143C;
$coffee-light-main: #FFFFFF;
$coffee-dark-main: #000;

// Plain colors
$coffee-primary-plain: #ECF5FF;
$coffee-success-plain: #F0F9EB;
$coffee-warning-plain: #FDF6EC;
$coffee-info-plain: #F4F4F5;
$coffee-danger-plain: #F3F0F0;

// Plain border colors
$coffee-primary-plain-border: #B3D8FF;
$coffee-success-plain-border: #C2E7B0;
$coffee-warning-plain-border: #F5DAB1;
$coffee-info-plain-border: #D3D4D6;
$coffee-danger-plain-border: #FBC4C4;
